.max {
  box-sizing: content-box;
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (width >= 26em) {
  .max {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.inverted {
  color: white;
  background-color: var(--lochmara);
}

.list-reset {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.link-reset {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link-img {
  display: inline-flex;
  color: inherit; /* fix outline colour */
  outline-offset: 3px;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.heading {
  font-family: var(--font-heading);
  letter-spacing: 0.0375em;
  text-transform: uppercase;
}

.separator::before {
  display: block;
  height: 1.5rem;
  color: var(--candlelight);
  background: repeating-linear-gradient(
    calc(85deg - var(--skew-angle)),
    transparent -20px,
    transparent 0,
    currentColor 0,
    currentColor calc(-20px + 2 * 20px)
  );
  content: '';
}
