.root {
  background-color: var(--lochmara);
  padding: 1rem 1.5rem 4rem;
}

.inner {
  composes: slant slantLeft from global;
  padding-bottom: 1rem;
  background-color: var(--minsk);
}

.fees {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.25rem;
  list-style: none;
}

.fees > p {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 1.5rem 1.5rem 1rem 2rem;
  background-color: black;
}

.age {
  composes: heading from global;
  color: var(--candlelight);
  font-size: 180%;
}

.price {
  font-family: var(--font-monospace);
  font-size: 300%;
  font-weight: bold;
  line-height: 1.1;
  color: white;
}

.price > span {
  font-size: 60%;
  font-weight: 400;
  vertical-align: 0.25rem;
  font-family: var(--font-base);
}

.list {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  padding: 1rem 1rem 1rem 3rem;
  background-color: white;
  list-style: none;
}

.list > li {
  margin-bottom: 0.5rem;
}

.icon {
  margin-right: 0.5rem;
  vertical-align: -0.1875rem;
  stroke: var(--lochmara);
}

.highlight {
  font-size: 120%;
  font-weight: 600;
}

.highlight:nth-child(2) {
  margin-bottom: 1.5rem;
}

@media (43em <= width < 60em) {
  .fees > p {
    flex-direction: row;
    align-items: flex-end;
    padding: 0.75rem 2rem 1rem;
  }

  .age,
  .price {
    flex: 1 1 0%;
  }

  .price {
    text-align: right;
  }
}

@media (width >= 60em) {
  .content {
    display: flex;
    padding: 0.5rem 2rem 2rem 3rem;
  }

  .fees {
    padding: 1rem 0 1.25rem;
  }

  .fees > p {
    align-items: flex-end;
    padding-left: 1.5rem;
  }

  .fees > p:last-child {
    margin-bottom: 0.25rem;
  }
}

@media (width >= 80em) {
  .root {
    padding: 3rem 4rem 6rem;
  }

  .headingWrapper {
    padding: 1.5rem 0 0 6rem;
    margin-left: -1.125rem;
  }
}
