.header {
  padding-bottom: 3rem;
}

.inner {
  composes: max from global;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.logo {
  margin-bottom: 1rem;
}

.title {
  composes: heading from global;
  position: relative;
  display: inline-flex;
  width: min-content;
  margin-bottom: 2.5rem;
  font-size: 300%;
  font-family: var(--font-title);
  line-height: 1;
  letter-spacing: 0.015em;
}

.title::after {
  position: absolute;
  right: 0;
  bottom: -0.875rem;
  left: 0;
  border-bottom: 0.625rem double var(--lochmara);
  content: '';
}

.intro {
  max-width: 30em;
  margin-right: auto;
  margin-left: auto;
  font-size: 112.5%;
  text-align: left;
}

@media (width >= 32em) {
  .title {
    width: auto;
  }
}

@media (width >= 50em) {
  .inner {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 5rem;
    text-align: left;
  }

  .logo {
    flex: none;
    width: 200px;
    height: 200px;
  }

  .content {
    flex: 0 1 auto;
    margin-left: 1.5rem;
  }

  .intro {
    margin: 0;
  }
}

@media (width >= 80em) {
  .header {
    position: relative;
  }

  .header::before,
  .header::after {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 12rem;
    background-color: var(--candlelight);
    content: '';
  }

  .header::before {
    left: 0;
    clip-path: polygon(0 0, 40% 0, 100% 100%, 0 100%);
  }

  .header::after {
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
  }

  .logo {
    width: 250px;
    height: 250px;
  }
}
