.root {
  composes: separator from global;
  padding: 2.25rem 1.5rem;
  font-size: 112.5%;
  text-align: center;
  background-color: var(--candlelight);
}

.root > p:last-child {
  margin-bottom: 0.25rem;
}

.icon {
  margin: 0 1rem -0.125em;
}
