.root {
  composes: separator from global;
  background-color: var(--minsk);

  --cols: 6;
}

.inner {
  padding: 1rem 0 2rem;
}

.content {
  padding: 0.75rem 1.5rem 0;
}

.day {
  composes: heading from global;
  color: var(--candlelight);
  font-size: 160%;
}

.day[data-empty='true'] {
  opacity: 0.5;
}

.day > sup {
  font-size: 60%;
}

.entry {
  composes: link-reset from global;
  padding: 1rem 0.5rem;
  text-align: center;
  background-color: white;
  border-radius: 0.25rem;
  outline-color: white;
  outline-offset: 4px;
}

.entry:hover,
.entry:focus {
  color: inherit;
  text-decoration: none;
}

.entry[data-variant='summer'] {
  border: 6px solid var(--candlelight);
}

.time {
  display: flex;
  color: var(--lochmara);
  font-weight: bold;
  font-size: 90%;
}

.time > span {
  padding: 0 0.25em;
}

.section {
  display: block;
  font-weight: 600;
  font-size: 115%;
  margin-bottom: 0.125rem;
  line-height: 1.3;
}

.location {
  display: flex;
  align-items: center;
  margin-bottom: 0.125rem;
  font-size: 90%;
}

.entry:hover .location {
  color: var(--minsk);
  text-decoration: underline;
}

.externalIcon {
  margin-bottom: -2px;
  margin-left: 0.5rem;
  opacity: 0.5;
}

.entry:hover .externalIcon,
.entry:focus .externalIcon {
  opacity: 1;
}

.announcement {
  display: flex;
  align-items: center;
  margin: 2.5rem 0 1.5rem;
  padding: 1rem;
  background-color: var(--candlelight);
}

.announcementIcon {
  flex: none;
  margin-right: 1.5rem;
  font-size: 2rem;
}

.announcement p {
  margin-bottom: 0.125rem;
}

.announcement a {
  color: inherit;
}

@media (width >= 30em) {
  .content {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .day {
    font-size: 180%;
  }
}

@media (width < 35em) {
  .location {
    flex-basis: 100%;
  }
}

@media (50em <= width < 70em) {
  .root {
    max-width: 45em;
    margin-right: auto;
    margin-left: auto;
  }

  .entry {
    max-width: 30em;
  }
}

@media (width < 70em) {
  .day,
  .entry {
    margin-bottom: 1rem;
  }

  .day:not(:first-child) {
    margin-top: 1.5rem;
  }

  .day[data-empty='true'] {
    display: none;
  }

  .entry {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .dayBorder {
    display: none;
  }

  .time,
  .location {
    font-size: 100%;
  }

  .section {
    font-size: 120%;
  }

  .time,
  .section {
    margin-right: 1rem;
  }
}

@media (width >= 70em) {
  .content {
    position: relative;
    z-index: 0;
    padding: 2rem 2rem 1rem;
  }

  .contentInner {
    display: grid;
    grid-auto-rows: minmax(1.5rem, auto);
    grid-gap: 1rem 2rem;
  }

  .day {
    margin-bottom: 1rem;
    text-align: center;
  }

  .ofMonth {
    display: block;
    font-size: 75%;
  }

  .dayBorder {
    grid-row: 1 / span var(--rows);
    margin-left: -1rem;
    border-left: 2px solid white;
  }

  .entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .time,
  .location {
    justify-content: center;
  }

  .externalIcon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 80%;
  }

  .midday {
    z-index: -1;
    grid-column: 1 / span var(--cols);
    background-color: var(--lochmara);
  }

  .announcement {
    margin: 1.5rem 0 0;
  }

  .announcementIcon {
    font-size: 4rem;
  }
}
