.root {
  background-color: var(--lochmara);
  padding: 1rem 1.5rem 3rem;
}

.anchor {
  margin-bottom: 3rem;
}

.inner {
  composes: slant slantRight from global;
  background-color: var(--minsk);
}

.map {
  position: relative;
  margin-bottom: 1rem;
}

.mapImg {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.entries {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entry {
  margin-bottom: 1rem;
  padding: 1.5rem;
  background-color: #fff;
}

.entryHeading {
  font-weight: 600;
}

.mapRef {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: 0.0625em;
  width: 1.75em;
  height: 1.75em;
  margin-right: 1rem;
  background-color: var(--candlelight);
  border-radius: 0.5em;
  font-size: 0.75em;
  font-weight: inherit;
}

.list {
  list-style: none;
  margin-bottom: 0.25rem;
  padding-left: 3.0625rem;
}

.time {
  display: inline-flex;
  color: var(--lochmara);
  margin-right: 0.75rem;
  font-family: var(--font-monospace);
}

.time > span {
  padding: 0 0.25em;
}

@media (width >= 55em) {
  .content {
    display: flex;
  }

  .map {
    max-width: 50%;
  }

  .entries {
    flex: 1 1 0%;
  }
}
@media (width >= 65em) {
  .map {
    margin-bottom: 0;
  }
}

@media (width >= 80em) {
  .root {
    padding: 3rem 4rem;
  }

  .headingWrapper {
    padding: 0.5em 0 0.75rem;
  }

  .entry:last-child {
    margin-bottom: 0.25rem;
  }
}
