.sticky {
  position: sticky;
  top: 0;
  z-index: var(--zi-nav);
  display: flex;
  height: 3rem;
  margin-top: -3rem;
  background-color: white;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.nav {
  composes: max from global;
  display: flex;
  flex: 1 1 0%;
  justify-content: space-around;
  margin: 0 -0.75rem;
}

.link {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  color: inherit;
  line-height: 1;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &[aria-hidden='true'] {
    opacity: 0;
  }

  &:not(:last-child)::after {
    height: 1.5rem;
    border-right: 2px solid var(--lochmara);
    content: '';
  }
}

.topLink {
  composes: link;
}

.item {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;
  padding: 0 0.25rem 0.25rem;
}

@media (width >= 20em) {
  .nav {
    margin: 0 auto;
  }
}

@media (width >= 50em) {
  .nav {
    justify-content: center;
  }

  .nav > a {
    flex: none;
  }

  .item {
    padding: 0 3rem 0.25rem;
  }
}

@media (width < 60em) {
  .topLink {
    display: none;
  }
}

@media (width >= 80em) {
  .nav {
    padding-left: 2.5rem;
  }

  .topLink {
    margin-left: 1rem;
  }
}
