.root {
  composes: separator from global;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 85rem;
  margin-right: auto;
  margin-left: auto;
}

.section {
  min-width: 0;
  max-width: 35em;
  margin-right: auto;
  margin-left: auto;
}

.list {
  margin-bottom: 0;
  padding: 1rem;
  list-style: none;
  background-color: white;
}

.list > li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.list strong {
  font-weight: 600;
}

.icon {
  margin-right: 0.5rem;
  vertical-align: -0.1875rem;
  stroke: var(--lochmara);
}

@media (width >= 40em) {
  .list {
    padding: 1.25rem 2rem;
  }
}

@media (width >= 67em) {
  .root {
    grid-template-columns: 1fr 1fr;
    font-size: 90%;
  }

  .list {
    padding: 1rem;
  }
}

@media (width >= 80em) {
  .root {
    gap: 2rem;
  }

  .list {
    padding: 1.25rem 2rem;
  }
}

@media (width >= 85em) {
  .root {
    font-size: 100%;
  }
}
