.list {
  margin-bottom: 0;
  padding: 1.5rem 1.5rem 1rem;
  list-style: none;
}

.list > li {
  margin-bottom: 0.5rem;
}

.icon {
  margin-right: 0.5rem;
  vertical-align: -0.1875rem;
  stroke: var(--lochmara);
}

@media (width >= 30em) {
  .list {
    padding: 2rem;
  }
}

@media (width >= 50em) {
  .content {
    display: flex;
  }

  .list,
  .imgWrap {
    flex: 1 1 0%;
    min-width: 0;
    min-height: 300px;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 2.5rem;
  }

  .list > li {
    margin-bottom: 0;
  }

  .imgWrap {
    max-width: 640px;
    max-height: 360px;
  }

  .img {
    height: 100%;
  }
}
